.sectionPresentation {
    display: flex;
}

.aboutMy {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 7rem;
}

.aboutMy h2{
    width: 50%;
    height: 3rem;
}

.aboutMy p {
    width: 45%;
    text-align: left;
}