* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    text-decoration: 0;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

input, textarea, select {
    background-color: transparent;
    border: none;
}

img {
    max-width: 100%;
}